<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>centerCoordinate</key>
	<dict>
		<key>longitude</key>
		<string>116.3137842680645</string>
		<key>latitude</key>
		<string>40.079889973535806</string>
	</dict>
	<key>distance</key>
	<string>800m</string>
	<key>zoomLevel</key>
	<integer>17</integer>
	<key>points</key>
	<array>
		<dict>
			<key>latitude</key>
			<real>40.08036423066766</real>
			<key>longitude</key>
			<real>116.3123658328323</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.08028133654264</real>
			<key>longitude</key>
			<real>116.3122660423785</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.07948538560658</real>
			<key>longitude</key>
			<real>116.3131916044581</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.07926890484518</real>
			<key>longitude</key>
			<real>116.3134711823327</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.07859158385128</real>
			<key>longitude</key>
			<real>116.3143049485246</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.078772231755</real>
			<key>longitude</key>
			<real>116.3144971279489</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.07925487806125</real>
			<key>longitude</key>
			<real>116.3151435454942</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.0795236631199</real>
			<key>longitude</key>
			<real>116.3147742829805</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.07967077709739</real>
			<key>longitude</key>
			<real>116.3146800810516</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.07983409018106</real>
			<key>longitude</key>
			<real>116.3146064698431</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.0803645142041</real>
			<key>longitude</key>
			<real>116.3143016373616</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.08120049463695</real>
			<key>longitude</key>
			<real>116.3136987940407</real>
		</dict>
		<dict>
			<key>latitude</key>
			<real>40.08123504812848</real>
			<key>longitude</key>
			<real>116.313613681032</real>
		</dict>
	</array>
</dict>
</plist>
